.planet-list {
    position: absolute;
    top: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .planet-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    z-index: 1;
    font-size: 14px;
    color: wheat;
    text-transform: uppercase;

    transition: color 400ms linear;

    &:hover, &.is-chosen  {
        color: orangered; 
        cursor: pointer;
    }
  }
  