.planet-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: wheat;
  padding: 10px;
  z-index: 1;
  right: 0;
  width: auto;
  align-items: flex-end;
}

.planet-item {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  transition: color 0.3s ease;

  &.is-chosen, &:hover  {
    color: orangered;
  }
}


@media screen and (min-width: 768px) {
  .planet-list {
    flex-direction: row;
    width: 100%;
  }
  
  .planet-item {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
}
